/* reset */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*TODO: remove after development*/
.hidden {
    display: none;
}