/* reset */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: none;
}

.contact-us {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    display: block;
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .main-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .nav-link {
        padding: 24px 0;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -1px;
        border-radius: 2px;
        left: 0;
        background-color: #404bbf;
    }

    .contact-us {
        display: block;
        margin-left: auto;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .contact-list-link {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contact-list {
        flex-direction: row;
        gap: 40px;
    }

    .contact-list-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
    }
}

/*TODO: remove after development*/
.hidden {
    display: none;
}