/* reset */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* common */

.container {
    max-width: 320px;
    padding-inline: 16px;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-inline: 15px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: none;
}

.contact-us {
    display: none;
}

.logo {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .main-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .nav-link {
        padding: 24px 0;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -1px;
        border-radius: 2px;
        left: 0;
        background-color: #404bbf;
    }

    .contact-us {
        display: block;
        margin-left: auto;
    }

    .contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .contact-list-link {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contact-list {
        flex-direction: row;
        gap: 40px;
    }

    .contact-list-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
    }
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 72px;
    padding-bottom: 40px;
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-contact-us {
    margin-bottom: 48px;
}

.mobile-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contact-list-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-contact-list-link-phone {
    color: #4d5ae5;
}

.mobile-social-media-list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.social-media-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover, .social-media-link:focus {
    background-color: #31d0aa;
}

.social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* modal */

.modal-close-button {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    top: 24px;
    right: 24px;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-close-button:hover, .modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-button:hover .close-icon, .modal-close-button:focus .close-icon {
    fill: #fff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus,
.mobile-nav-link:hover, .mobile-nav-link:focus,
.mobile-nav-link.current,
.nav-link.current,
.contact-list-link:hover, .contact-list-link:focus {
    color: #404bbf;
}

/* contact form */

@media screen {
    .form-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding-left: 38px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


/* hero */

.hero {
    max-width: 320px;
    margin-inline: auto;
    padding-block: 72px;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-bg-mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-resolution: 192dpi) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-bg-mobile@2x.jpg");
    }
}

.hero-title {
    max-width: 216px;
    margin-inline: auto;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding-block: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-tablet.jpg);
    }

    .hero-title {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-bg-tablet@2x.jpg");
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1440px;
        padding-block: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-desktop.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-bg-desktop@2x.jpg");
    }
}

/* features */

.features {
    padding-block: 96px;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.feature-icon{
    display: none;
}

.feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-list-item {
        flex-basis: calc((100% - 1 * 24px) / 2);
    }

    .feature-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .features {
        padding: 120px 0;
    }

    .features-list-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .feature-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
    }

    .feature-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .feature-text {
        font-weight: 400;
    }
}

/* team */

@media screen {
    .team {
        padding-block: 96px;
        background-color: #f4f4fd;
    }

    .team-title {
        margin-bottom: 72px;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    .team-list-item {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .team-member-content {
        padding: 32px 16px;
    }

    .team-member-name {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    .team-member-position {
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }

    .team-member-social-list {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .team-member-social-link {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-member-social-link:hover, .team-member-social-link:focus {
        background-color: #404bbf;
    }
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
}

/* portfolio */

@media screen {
    .portfolio {
        padding-block: 96px;
    }

    .portfolio-title {
        margin-bottom: 72px;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    .portfolio-list {
        display: flex;
        row-gap: 48px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .portfolio-item {
        display: flex;
        flex-direction: column;
        background: #fff;
        cursor: pointer;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .portfolio-item-image {
        width: 100%;
    }

    .portfolio-thumb {
        position: relative;
        overflow: hidden;
    }

    .portfolio-item-content {
        margin-top: auto;
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }

    .portfolio-item-name {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .portfolio-item-category {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .portfolio-item-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #4d5ae5;
        padding: 40px 32px;
        transform: translatey(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover .portfolio-item-description, .portfolio-item:focus .portfolio-item-description {
        transform: translatey(0);
    }
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        row-gap: 72px;
        column-gap: 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 2 * 24px) / 3);
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover, .portfolio-item:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

/* footer */

@media screen {
    .footer-logo .logo-part {
        color: #f4f4fd;
    }

    .page-footer {
        padding-block: 96px;
        background-color: #2e2f42;
    }

    .footer-container {
        display: flex;
        row-gap: 72px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer-logo-container {
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 16px;
    }

    .footer-text {
        max-width: 264px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        text-align: left;
    }

    .footer-block-title {
        text-align: center;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
    }

    .social-media-list {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .form-input.subscribe-input {
        width: 288px;
        margin-bottom: 16px;
        border: 1px solid #ffffff;;
        border-radius: 4px;
        padding-left: 16px;;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
    }

    .form-input.subscribe-input::placeholder {
        color: #fff;
    }

    .subscribe-button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 165px;
        height: 40px;
        padding: 0 0;
    }

    .subscribe-icon {
        fill: #fff;
        margin-left: 16px;
    }
}

@media screen and (min-width: 768px) {
    .footer-container {
    }

    .footer-container {
        padding-inline: 108px;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 24px;
    }

    .footer-logo-container {
        text-align: left;
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
    }

    .footer-block-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        padding-inline: 0;
    }

    .social-media {
        margin-left: 120px;
    }

    .subscribe-form-container {
        margin-left: 40px;
    }
}

/*TODO: remove after development*/
.hidden {
    display: none;
}